.DS_Store
Thumbs.db
.vscode/
.idea/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.ipynb
**/.ipynb_checkpoints/
.pytest_cache/
.venv/
venv/
env/
.env
.env.*
*.log
backend/data/
backend/testing/
frontend/node_modules/